/*

Logo blue:		#6ec8e8
Logo green:		#b1c918
Logo yellow:	#ffcc00
*/


p, li {
	line-height: 1.3em;
}


#cmttbl {
	text-align:left;
	border-spacing:0;
}

#cmttbl .trt1a td, #cmttbl .trt1a th {
	vertical-align: text-top;
	padding: 0 0.5em 0.2em 0;
}

#cmttbl .trt1b td, #cmttbl .trt1b th {
	vertical-align: text-top;
	padding: 0 0.5em 1.5em 0;
}

img.logo {
	padding: 5em;
}

li {
	margin-bottom: .5em;
}

ul li {
	margin-top: .5em;
}

.wstbl {
	width: 100%;
}

.wstbl td {
	padding: 0 1.5em 0 1em;
}

.wslnk {
	font-size: 1.2em;
	display: block;
}

.supporter, .banner {
	width: 100%;
	margin: auto;
}

.supporter div {
	text-align: center;
	vertical-align: middle;
}

.supporter img {
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em 1em 2em;
	text-align: center;
	vertical-align: middle;
}

.border {
	border: 1px solid #BBB;
	margin-top: 2em;
}

.hostlogo div {
	padding: 4% 2% 0 2%;
	width: 43%;
 	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.hostlogo img {
	max-height: 80px;
}

.hostlogo p {
 	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img.conflogo {
	padding-bottom:2em;
	display:block;
	max-width: 200px;
}

.center {
	margin-left: auto;
	margin-right: auto;
 	text-align: center;
}

.right {
 	text-align: right;
}

.floatright {
 	float: right;
}

.linethrough {
	text-decoration: line-through;
}

table.hotel th {
	text-align: right;
	vertical-align: top;
	padding: 0;
}

table.hotel td {
	text-align: left;
	vertical-align: bottom;
	padding: 0;
}
table.hotel tr {
	line-height: 1.3em;
}

table.hotel {
	font-size: .9em;
	padding-bottom: 1em;
}

a.button {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

em {
	color: red;
	font-weight: bold;
	font-style: normal;
}



.supporter h2 {
	text-align: center;
}

.newstbl p {
	margin:0;
	font-size:1em;
}

.datetbl p {
	margin:0;
	font-size:1em;
}

.hcls {
	padding: 0.3em;
	background: #b1c918;
	color: white;
	font-weight: normal;
	letter-spacing:1px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.lnkcls:link {
	text-decoration: none;
	margin: 0.1em;
	padding: 0.15em;
	color: #6ec8e8;
	border: #6ec8e8 solid 1px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.lnkcls:hover {
	text-decoration: none;
	text-shadow: none;
	background-color: #fc0;
	color: #ffcc00;
	border: #ffcc00 solid 1px;
}

.datetag {
	margin-right: 1em; 
	font-weight: bold;
	width: 8em;
	float: left;
}

.datetag_w {
	margin-right: 1em; 
	font-weight: bold;
	width: 40%;
	float: left;
}

#toolbar {
	position: fixed;
	list-style: none;
	margin: 12px 9px 0 0;
	padding: 0;
	top: 0;
	right: 35px;
}

#toolbar li {
	float: right;
	margin: 0 2px;
	padding: 0;
	width: 25px;
	height: 25px;
}

#twbtn, #fbbtn, #gpbtn {
	display: block;
	background-image: url(../images/social-icon.png);
	width: 25px;
	height: 25px;
}

#twbtn {
	background-position: 0 0;
}

#twbtn:hover {
	background-position: 0 -25px;
}

#fbbtn {
	background-position: -25px 0;
}

#fbbtn:hover {
	background-position: -25px -25px;
}

#gpbtn {
	background-position: -50px 0;
}

#gpbtn:hover {
	background-position: -50px -25px;
}

#csebtn {
	position: fixed;
	list-style: none;
	top: 3px;
	right: 3px;
}

#cse {
	width: 50%;
	border: black solid 1px;
	position: absolute;
	top: 3px;
	right: 25%;
	z-index: 999;
}

#logobar {
	position: fixed;	
	background-color:#E0E0E0;
	width:100%;
	height:auto;
	left:0;
	bottom:0;
	-webkit-box-shadow:inset 0 0 7px #000000;
	-moz-box-shadow:inset 0 0 7px #000000;
	box-shadow:inset 0 0 7px #000000;
	z-index: 999;
}

#tweet {
	display: inline-block;
}

h2, h3, h4 {
	margin-top:1.5em;
	text-shadow: none;
}

.hidden { display: none; }

.socialbuttons .fb-like {
	top: -3px !important;
}

.socialbuttons {
	padding-top: .6em;
	padding-bottom: .5em;
	padding-left: 2em;
}

.fees td, .fees th {
		text-align: center;
		padding: .2em .4em .2em .4em;
}

.fees table {
	padding-bottom: 1.5em;
}

div.fees {
	font-size: .9em;
	padding: 0 1em 0 1em;
}

/* jqm overrides go here */

.ui-body-c .ui-link {
	font-weight: normal;
}

#jqm-home, .ui-mobile .type-home .ui-content {
	background-color: white;
    background-image: none;
}

#jqm-home .ui-listview-inset .ui-li {
	background-image: none;
}

#jqm-home .ui-listview-inset .ui-li a {
	color: #000000;
}

#jqm-home .ui-listview-inset .page-now {
    background-color: #ffcc00;
}
/*
#jqm-home .ui-li-divider {
	background-color: #b1c918;
	border-color: #b1c918;
}
*/
#jqm-home .cthm1a {
	background-color: lightgray;
}

#jqm-home .cthm1b {
	background-color: transparent;
}

.ui-btn-text {
	font-size: 14px;
}

.ui-collapsible .ui-collapsible-heading .ui-btn-text {
	font-size: 18px;
}

.ui-li-heading, .ui-li-desc {
	white-space: normal;
}

.ui-li-desc em {
	color: inherit;
	font-weight: normal;
	font-style: italic;
}

.ui-li-heading {
	font-size: 1em;
}

/* site layout */
@media all and (max-width: 650px){
	a.button {
		width: 80%;
	}
	.hostlogo, #toolbar, #csebtn {
		display: none;
	}
}

@media all and (min-width: 650px){
	.content-secondary {
		width: 30%;
	}
	.content-secondary {
		margin: 30px 0 20px 2%;
		padding: 20px 4% 0 0;
	}
	.content-primary {
		width: 62%;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
	a.button {
		width: 60%;
	}
}

@media all and (min-width: 1200px){
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 30px 0 20px 5%;
	}
	.content-primary {
		width: 50%;
		margin-right: 3%;
		padding-right: 3%;
	}
}