/* Liang Wang */

/* Logo blue: #6dc8e8; */


/*
@font-face {
    font-family: "CaviarDreams";
    src: url("http://lxwang.users.cs.helsinki.fi/2012/css/CaviarDreams.ttf");
}

@font-face {
    font-family: "FUTURAXK";
    src: url("http://lxwang.users.cs.helsinki.fi/2012/css/FUTURAXK.ttf");
}
*/

p {
	line-height: 1.3em;
}

#cmttbl {
	text-align:left;
	border-spacing:0;
}

#cmttbl .trt1a td, #cmttbl .trt1a th {
	vertical-align: text-top;
	padding: 0 0.5em 0.2em 0;
}

#cmttbl .trt1b td, #cmttbl .trt1b th {
	vertical-align: text-top;
	padding: 0 0.5em 1.5em 0;
}

img.logo {
	padding: 5em;
}

li {
	margin-bottom: 1em;
}

.wstbl {
	width: 100%;
}

.wstbl td {
	padding: 0 1.5em 0em 1em;
}

.wslnk {
	font-size: 1.2em;
	display: block;
}

.supporter {
	width: 100%;
	margin: auto;
}

.supporter div {
	text-align: center;
	vertical-align: middle;
}

.supporter img {
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em 1em 2em;
	text-align: center;
	vertical-align: middle;
}

.hostlogo img {
	padding: 1em;
	vertical-align: middle;
}

.center {
	margin-left: auto;
	margin-right: auto;
 	text-align: center;
}

.linethrough {
	text-decoration: line-through;
}

.supporter h2 {
	text-align: center;
}

.newstbl p {
	margin:0;
	font-size:1em;
}

.datetbl p {
	margin:0;
	font-size:1em;
}

.hcls {
	padding: 0.2em 0.4em;
	background: #A1BA00;
	color: white;
	font-weight: normal;
	letter-spacing:1px;
	border: #A1BA00 solid 2px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.lnkcls:link {
	text-decoration: none;
	text-shadow: none;
	margin: 0.1em;
	padding: 0.2em 0.3em;
	background-color: white;
	font-size: 0.9em;
	color: #2489CE;
	border: #2489CE solid 1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.lnkcls:hover {
	text-decoration: none;
	text-shadow: none;
	margin: 0.1em;
	padding: 0.2em 0.3em;
	background-color: orange;
	font-size: 0.9em;
	color: #2489CE;
	border: orange solid 1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.datetag {
	margin-right: 1em; 
	font-weight: bold;
	width: 20%;
	float: left;
}

#toolbar {
	position: fixed;
	list-style: none;
	margin: 12px 9px 0 0;
	padding: 0;
	top: 0px;
	right: 35px;
}

#toolbar li {
	float: right;
	margin: 0px 2px;
	padding: 0;
	width: 25px;
	height: 25px;
}

#twbtn {
	display: block;
	background-image: url(../images/social-icon.png);
	background-position: 0 0px;
	width: 25px;
	height: 25px;
}

#twbtn:hover {
	background-position: 0 -25px;
}

#fbbtn {
	display: block;
	background-image: url(../images/social-icon.png);
	background-position: -25px 0px;
	width: 25px;
	height: 25px;
}

#fbbtn:hover {
	background-position: -25px -25px;
}

#gpbtn {
	display: block;
	background-image: url(../images/social-icon.png);
	background-position: -50px 0px;
	width: 25px;
	height: 25px;
}

#gpbtn:hover {
	background-position: -50px -25px;
}

#csebtn {
	position: fixed;
	list-style: none;
	top: 3px;
	right: 3px;
}

#cse {
	width: 50%;
	border: black solid 1px;
	position: absolute;
	top: 3px;
	right: 25%;
	z-index: 999;
}

#logobar {
	position: fixed;	
	background-color:#E0E0E0;
	width:100%;
	height:auto;
	left:0;
	bottom:0;
	-moz-box-shadow:inset 0 0 7px #000000;
	-webkit-box-shadow:inset 0 0 7px #000000;
	box-shadow:inset 0 0 7px #000000;
	z-index: 999;
}

#tweet {
	display: inline-block;
}

h2 { margin-top:1.5em; }

.hidden { display: none; }

.socialbuttons .fb-like {
	top: -3px !important;
}

.socialbuttons {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 2em;
}

.fees td, .fees th {
		text-align: center;
		padding: 0 .1em 0 .1em;
}

.fees table {
	width: 100%;
	padding-bottom: 1em;
}

div.fees {
	border: #6dc8e8 solid 2px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin: .5em;
	font-size: .8em;
	
}

/* jqm overrides go here */

.ui-body-c .ui-link {
	font-weight: normal;
}

#jqm-home, .ui-mobile .type-home .ui-content {
	background-color: white;
    background-image: none;
}

#jqm-home .ui-listview-inset .ui-li {
	background-image: none;
}

#jqm-home .ui-listview-inset .ui-li a {
	color: #000000;
}

#jqm-home .ui-listview-inset .ui-btn {
	/** background-color: #6EC8E8; **/
}

#jqm-home .ui-listview-inset .ui-btn-hover-d {
	/** background-color: #FFCC00; **/
}

#jqm-home .ui-listview-inset .page-now {
    background-color: #FFCC00;
}

#jqm-home .cthm1a {
	background-color: lightgray;
}

#jqm-home .cthm1b {
	background-color: none;
}

.ui-btn-text {
	font-size: 14px;
}

.ui-collapsible .ui-collapsible-heading .ui-btn-text {
	font-size: 18px;
}


/* site layout */

@media all and (min-width: 650px){
	.content-secondary {
		width: 30%;
	}
	.content-secondary {
		margin: 30px 0 20px 2%;
		padding: 20px 4% 0 0;
	}
	.content-primary {
		width: 62%;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
}

@media all and (min-width: 1200px){
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 30px 0 20px 5%;
	}
	.content-primary {
		width: 50%;
		margin-right: 3%;
		padding-right: 3%;
	}
}