/*

Logo blue:		#6ec8e8 (darker #42b7e1)
Logo green:		#b1c918 (darker #899b13)
Logo yellow:	#ffcc00 (darker #cca300)
*/


p, li {
	line-height: 1.3em;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
}

img.logo {
	padding: 5em;
}

li {
	margin-bottom: .5em;
}

/*p.ui-li-desc + p.ui-li-desc {
	margin-top: .5em;
}*/

ul li {
	margin-top: .5em;
}

.supporter, .banner {
	width: 100%;
	margin: auto;
}

.supporter div {
	text-align: center;
	vertical-align: middle;
}

.supporter img {
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em 1em 2em;
	text-align: center;
	vertical-align: middle;
}

.border {
	border: 1px solid #BBB;
	margin-top: 2em;
}

/*.prog-paper, .prog-demo, .prog-poster, .prog-keynote, .prog-panel, .prog-tutorial, .prog-invitedtalk {
	font-weight: bold;		    
	padding: 5px;			    
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;    
	border-radius: 6px;		    
}*/

.prog-paper {
/*	background-color: #ffcc00;		 */
/*	border-color: 1px solid #cca300; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #ffcc00 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #ffcc00 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #ffcc00 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #ffcc00 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #ffcc00 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #ffcc00 /*{c-bup-background-end}*/);
}

.prog-demo {
/*	background-color: #6ec8e8; */
/*	border: 1px solid #42b7e1; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #6ec8e8 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #6ec8e8 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #6ec8e8 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #6ec8e8 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #6ec8e8 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #6ec8e8 /*{c-bup-background-end}*/);
}

.prog-poster {
/*	background-color: #b1c918; */
/*	border: 1px solid #899b13; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #b1c918 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #b1c918 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #b1c918 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #b1c918 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #b1c918 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #b1c918 /*{c-bup-background-end}*/);
}

.prog-keynote {
/*	background-color: #bbb;	   */
/*	border: 1px solid #a2a2a2; */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #bbb /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #bbb /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #bbb /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #bbb /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #bbb /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #bbb /*{c-bup-background-end}*/);
}

.prog-panel, .prog-tutorial, .prog-invitedtalk {
/*	border: 1px solid #d5d5d5; */
/*	background-color: #eee;	   */
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #d5d5d5 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #d5d5d5 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #d5d5d5 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #d5d5d5 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #d5d5d5 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #d5d5d5 /*{c-bup-background-end}*/);
}

.prog-info-p {
	//position:absolute;
	font-size:11px;
	font-weight:bold;
	padding:.2em .5em .8em .5em;
	vertical-align: middle;
	text-align: right;
	margin-top:-.9em;
	right:-20px;

}

.prog-general {
	display: inline;
	margin: 1px 3px;
	padding: 1px 8px;
	font-weight: bold;
}

.ui-li-has-count .ui-li-heading, .ui-li-has-count .ui-li-desc {
	padding-right: 50px;
}

.ui-li-has-count .ui-li-count {
	padding-right: 5px;
}

#prog_ctrl {
	padding-bottom: 2em;
}

.hostlogo div {
	padding: 4% 2% 0 2%;
	width: 43%;
 	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.hostlogo img {
	max-height: 80px;
}

.hostlogo p {
 	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img.conflogo {
	padding-bottom:2em;
	display:block;
	max-width: 200px;
}

.center {
	margin-left: auto;
	margin-right: auto;
 	text-align: center;
}

.right {
 	text-align: right;
}

.linethrough {
	text-decoration: line-through;
}

table.hotel th {
	text-align: right;
	vertical-align: top;
	padding: 0;
}

table.hotel td {
	text-align: left;
	vertical-align: bottom;
	padding: 0;
}
table.hotel tr {
	line-height: 1.3em;
}

table.hotel {
	font-size: .9em;
	padding-bottom: 1em;
}

a.button {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

em {
	color: red;
	font-weight: bold;
	font-style: normal;
}

.supporter h2 {
	text-align: center;
}

.newstbl p, .datetbl p {
	font-size:1em;
}

.hcls {
	padding: 0.3em;
	background: #b1c918;
	color: white;
	font-weight: inherit;
	letter-spacing:1px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	box-shadow:0 1px 4px rgba(0,0,0,.3);
	margin-bottom: .75em;
	text-shadow: none;
}

#left-column a {
	text-decoration: none;
	width: 100%;
}

.lnkcls:link {
	text-decoration: none;
	margin: 0.1em;
	padding: 0.15em;
	color: #6ec8e8;
	border: #6ec8e8 solid 1px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.lnkcls:hover {
	text-decoration: none;
	text-shadow: none;
	background-color: #ffcc00;
	color: #ffcc00;
	border: #cca300 solid 1px;
}

.datetbl .ui-grid-a .ui-block-a { width: 30% }
.datetbl .ui-grid-a .ui-block-b { width: 70%; } 

#toolbar {
	position: fixed;
	list-style: none;
	margin: 12px 9px 0 0;
	padding: 0;
	top: 0;
	right: 35px;
}

#toolbar li {
	float: right;
	margin: 0 2px;
	padding: 0;
	width: 25px;
	height: 25px;
}

.logobar {
	-webkit-box-shadow:inset 0 0 7px #000000;
	-moz-box-shadow:inset 0 0 7px #000000;
	box-shadow:inset 0 0 7px #000000;
	border: none;
}

.header {
	background: inherit;
	border: inherit;
	margin: 0;
	padding: 5px 15px 5px 15px;
}

#jqm-home .header a {
       top: 11px;
       right: 15px;
}

.content-primary h2, h3, h4 {
	font-size: 1.5em;
	margin-top:1.5em;
	text-shadow: none;
}

.content-primary > h2:first-child {
	margin-top: 0;
}

#jqm-home .content-secondary {
	padding: 0;
}

.hidden { display: none; }

.socialbuttons .fb-like {
	top: -3px !important;
}

.socialbuttons {
	padding-top: .6em;
	padding-bottom: .5em;
	padding-left: .2em;
}

.fees td, .fees th {
		text-align: center;
		padding: .2em .4em .2em .4em;
}

.fees table {
	padding-bottom: 1.5em;
}

div.fees {
	font-size: .9em;
	padding: 0 1em 0 1em;
}

.bio_img {
	margin: 1em;
	float: left;
}

.newslibtn .ui-btn-text{
	text-align: center;	
}

.license {
/*	max-width:450px; 
	margin:0 auto 10px auto; 
	border:0px; */
	padding: 10px; 
	font-size: 10px; 
	text-align: center;
	color: grey;
}

.license a {
	text-decoration: none;
}

/* jqm overrides go here */

.ui-body-c .ui-link {
	font-weight: inherit;
}

#jqm-home, .ui-mobile .type-home .ui-content {
	background-color: white;
    background-image: none;
}

#jqm-home .ui-listview-inset .ui-li {
	background-image: none;
}

#jqm-home .ui-listview-inset .ui-li a {
	color: #000000;
}

#jqm-home .ui-listview-inset .navselected {
    background-color: #ffcc00;
}

#jqm-home .headerselected {
    background-color: #ffeb9d;
}

.subnav-a .ui-btn-text, .subnav-b .ui-btn-text, .subnav-c .ui-btn-text {
	padding-left: 30px;
}

#jqm-home .heading {
	background-color: #b1c918;
	border-color: #899b13;
	text-align: center;	
	font-size: 16px;	
	letter-spacing:1px;
}

#jqm-home .ui-btn-text {
	font-size: 14px;
}

#jqm-home .ui-collapsible .ui-collapsible-heading .ui-btn-text {
	font-size: 16px;
}

#jqm-home .ui-li-heading, .ui-li-desc {
	white-space: normal;
	margin: 0;
}

#jqm-home .ui-li-desc em {
	color: inherit;
	font-weight: normal;
	font-style: italic;
}

#jqm-home .ui-li-heading {
	font-size: 14px;
}

#jqm-home .ui-li-aside {
	width: auto;
	margin: 0 0 10px 10px;
}

#archive_div {
	font-size: 0.9em;
	text-align: center;
	width: 250px;
	padding: 1em;
}

/* site layout */
@media all and (max-width: 650px){
	a.button {
		width: 80%;
	}
	.hostlogo, .tweetlist, .socialbuttons, img.conflogo {
		display: none;
	}
	.content-primary h2 {
		font-size: 1.25em;
		margin-top:1.25em;
	}
	.content-primary h3, h4 {
		font-size: 1em;
		margin-top:1em;
	}
	.fees td, .fees th {
			padding: .2em;
	}
}

@media all and (min-width: 650px){
	.header {
		display: none;
	}
	.content-secondary {
		width: 30%;
	}
	.content-secondary {
		margin: 30px 0 20px 2%;
		padding: 20px 4% 0 0;
	}
	.content-primary {
		width: 62%;
		margin-right: 1%;
		padding-right: 1%;
	}
	a.button {
		width: 60%;
	}
}

@media all and (min-width: 1200px){
	.header {
		display: none;
	}
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 30px 0 20px 5%;
	}
	.content-primary {
		width: 50%;
		margin-right: 3%;
		padding-right: 3%;
	}
}

@media print {
    #left-column {
	    display: none;
    }
    
    .content-primary {
	    width: 90%;
    }
    
    .logobar {
	    display: none;
    }
    
   .button {
	    display: none;
    }

    .hcls {
    	border: 0;
	    background: white;
	    color: black;
	    -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	    border-radius: 0;
	    -moz-box-shadow: 0 0px 0px rgba(0,0,0,.3);
	    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.3);
	    box-shadow:0 0px 0px rgba(0,0,0,.3);	
    }

  }
